body{
  background-color: aliceblue;
}

.homeContainer {

  display:flex; 
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding:50px;
  gap:50px;
  
}


.paginacion button{
  
    background-color: rgb(128, 128, 255);
    border-radius: 12px;
    padding:5px;
    margin:5px 5px 5px 5px;
    width:30px;
    text-align:center;
    cursor:pointer
}

.formPost {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  border: 1px ridge rgba(0,0,0,0.1);
  border-radius: 10px;
  padding:20px;
}

.formPost input {
  display:flex;
  justify-content: flex-start;
  align-self: center;
  background-color: aliceblue;
  height:70px;
  width:400px;
  border:none;
  padding:10 0 150px 0;
}

.formPost button {
  background-color: rgb(128, 128, 255);
  border-radius: 12px;
  padding:5px;
  gap:15px;
  width:100px;
  text-align:center; 
  cursor:pointer
}